# Ignore vendor development dependencies and binaries, but allow production dependencies
/vendor/*
!/vendor/freemius/
!/vendor/jaybizzle/

# Tooling
/phpcompat-tools/
/node_modules/
/build/

# Lock files
package-lock.json
composer.lock

# Claude AI
.claude/
.commandcode/

.devin/

# Testing
/.playwright-mcp
