includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - top-10.php
        - uninstaller.php
        - load-freemius.php
        - includes/
    scanFiles:
        - top-10.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
    scanDirectories:
        - includes
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
