parameters:
	ignoreErrors:
		-
			message: "#^Property WebberZone\\\\Top_Ten\\\\Admin\\\\Settings\\\\Settings_API\\:\\:\\$settings_page \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: includes/admin/class-settings.php

		-
			message: "#^Variable \\$cache_name might not be defined\\.$#"
			count: 1
			path: includes/frontend/class-display.php

		-
			message: "#^Function get_field not found\\.$#"
			count: 1
			path: includes/frontend/class-media-handler.php

		-
			message: "#^Variable \\$daily might not be defined\\.$#"
			count: 1
			path: includes/frontend/feed-rss2-popular-posts.php
