parameters:
	ignoreErrors:
		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/admin/class-settings-wizard.php

		-
			message: "#^Property WebberZone\\\\Top_Ten\\\\Admin\\\\Settings\\\\Settings_API\\:\\:\\$settings_page \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: includes/admin/class-settings.php

		-
			message: "#^Variable \\$wp in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: includes/frontend/class-display.php

		-
			message: "#^Variable \\$cache_name might not be defined\\.$#"
			count: 1
			path: includes/frontend/class-display.php

		-
			message: "#^Variable \\$daily might not be defined\\.$#"
			count: 1
			path: includes/frontend/feed-rss2-popular-posts.php
