includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    scanFiles:
        - top-10.php
    scanDirectories:
        - includes
    paths:
        - top-10.php
        - uninstaller.php
        - includes/
    ignoreErrors:
