// Frontend styles.
@import 'style.scss';

.tptn-date-picker-container {
  margin-bottom: 16px;

  .components-text {
    display: block;
    margin-bottom: 4px;
  }

  .components-button {
    margin-right: 8px;
  }
}

.wp-block-top-10-post-count.is-selected {
  position: relative;
}

.wp-block-top-10-post-count.is-selected::after {
  bottom: 0;
  content: "";
  left: 0;
  outline-color: var(--wp-admin-theme-color);
  outline-offset: calc((-1 * var(--wp-admin-border-width-focus)) / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  outline-style: solid;
  outline-width: calc(var(--wp-admin-border-width-focus) / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}